/* Reset dan base */
body {
    margin: 0;
    padding: 0;
    background-image: url("/image/UnandAnimate.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

/* Container utama */
.dashboard {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.closed {
    transform: translateX(-100%);
}

.sidebar h2 {
    margin-bottom: 30px;
    font-size: 22px;
}

/* Sidebar Item Styling */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
    cursor: pointer;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.2s ease;
}

/* Efek hover pada item sidebar */
.sidebar ul li:hover {
    color: #a5d6a7;
}

/* Link di dalam Sidebar */
.sidebar ul li a {
    color: inherit; /* Ikuti warna dari <li> */
    text-decoration: none; /* Hilangkan garis bawah */
    display: flex; /* Untuk susun icon dan teks sejajar */
    align-items: center;
    gap: 10px;
    width: 100%; /* Biar area klik meluas */
    height: 100%;
}

.toggle-btn {
    position: fixed;
    top: 2px;
    left: 15px;
    z-index: 1300; /* di atas sidebar */
    background: transparent;
    width: 40px;
    height: 40px;
    color: rgb(3, 248, 101);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.logout-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0;
    margin: 10px 0 0 20px;
}

.logout-button:hover {
    color: #a5d6a7;
}

/* Main content */
.main-content {
    flex: 1;
    margin-left: 340px;
    padding: 20px;
    background-color: #d1c70729;
    transition: margin-left 0.3s ease;
    overflow-y: auto;
}

.main-content.expanded {
    margin-left: 0;
}

/* Profile */
.profile {
    text-align: right;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}